html.dark {
  background-color: #000;
  color: #fff;
}

.dark a {
  color: #fff;
}


a {
  color: gray;
  text-decoration: none;
}
.dark .post-card {
  background-color : #000;
  border : 1px solid white;
}

.dark .read-more {
  background-color: #000;
  border : 1px solid white;
}

.dark .fa-github {
  color : white;
}

.fa-github {
  color : black;
}
@media only screen and (max-width : 600px) {
  .nav {
    font-size : .75em;
  }
}

pre {
  padding: 1rem;
  border-radius: .25rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
