html.dark {
  background-color: #000;
  color: #fff;
}

.dark a {
  color: #fff;
}

.dark .post-card {
  background-color : #000;
  border : 1px solid white;
}

.dark .read-more {
  background-color: #000;
  border : 1px solid white;
}

@media only screen and (max-width : 600px) {
  html {
    font-size : .75em;
  }
}
