---
import Layout from "../layouts/Layout.astro"
import Postcard from "../components/PostCard.astro"
---

<Layout title="Home">
	<h1>Hello, Stranger.</h1>
	<p>Welcome to my blog</p>
	<h1 align="left">Posts</h1>
	<Postcard postTitle="Welcome" postLink="https://yt.be"/>
</Layout>