---
import Layout from "../layouts/Layout.astro"
import PostCard from "../components/PostCard.astro";
const posts = await Astro.glob("../pages/posts/*.mdx")
---

<Layout title="Posts">
    <h1>Posts</h1>
    {posts.map((post) => (
    <PostCard postTitle={post.frontmatter.title} postLink={post.url} postDate={post.frontmatter.date}/>
    ))
    }
</Layout>