---
import "../styles/global.css"
const today = new Date()
---

<div class="footer">&copy;{today.getFullYear()} EasewithTuts.<br>Built with <a href="https://astro.build">Astro.</a></div>

<style>
    .footer {
        background-color: #000;
        color: #fff;
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        text-align : center;
        width: 100%;
    }
</style>
