---
const today = new Date()
---

<div class="footer">&copy;{today.getFullYear()} EasewithTuts.</div>

<style>
    .footer {
        position : fixed;
        left : 0;
        bottom : 0;
        text-align : center;
        width: 100%;
    }
</style>