---
const { siteName } = Astro.props
import ThemeToggler from "../components/ThemeToggler.astro"
---

<header>
    <div class="nav">
    <h1 class="site-title">{siteName}</h1>
    <a href="/">Home</a>
    <a href="/posts">Blog</a>
    <a style="color : gray;font-size:1.5rem" href="https://github.com/Easewithtuts" class="fa-brands fa-github"></a>
    <ThemeToggler />
    </div>
</header>

<style>

    .nav {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-items: end;
        gap: .5rem;
        margin : 1.25rem;
        align-items: center;
    }

    .site-title {
        margin-right: auto;
    }

    a {
        text-decoration: none;
        color : #6b7280;
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 24px */
    }

    button {
        font-size: 1.5rem;
        border: none;
        background-color: white;
    }
</style>
