---
const { postTitle,postLink,postDate} = Astro.props
---

<style>
    .post-card {
        display: flex;
        flex-direction: column ;
        background-color: #ffffff;
        justify-content: start;
        width: 45rem;
        border-radius: 0.25rem;
        border : 1px solid black
    }

    .read-more {
        text-decoration: none;
        background-color: white;
        width: max-content;
        border : 1px solid black;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-bottom: .5rem;
        margin-left: .25rem;
        margin-right: .5rem;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 500;
        color: black;
    }

    .center {
        display: flex;
        justify-content: center;
    }



</style>
<div class="center">
    <div class="post-card">
        <h1 style="text-align: start; margin-left:0.2rem">{postTitle}</h1>
        <h2 style="text-align: start; margin-left:0.2rem;font-size:1rem">{postDate}</h2>
        <a href={postLink} class="read-more">Read More</a>
    </div>
</div>